.idea/
.vs/
AccidentalNoise/
Publish/
/.vs/AsciiKingdom/v16/Server/sqlite3/storage.ide-shm
/.vs/AsciiKingdom
/.vs/ProjectEvaluation/asciikingdom.projects.v6.1
/.vs/ProjectEvaluation/asciikingdom.metadata.v6.1
